


@model IEnumerable<appointmentEntity>

<div class="containerAdminMid middle">
    <div class="row pt=4 centerDiv backgroundColor text-black rounded bordered">
        <div class="col-9">
            <h2 class="text-success centerText">
                Appointments
            </h2>
        </div>
        <div class="col-12 text-lg-end">
           
        </div>
    </div>

    <br />

    @if(Model != null )
    {
        <table class="table containerAd middle backgroundColor table-bordered table-hover scrollable">
            <thead>
            <tr>
                <th>Haidresser</th>
                <th>Time</th>
                <th>Style</th>
                <th>User name</th>
                <th> <a asp-controller="Admin" asp-action="AddAppointments" class="btn adminAdd btn-primary">add an appointment</a></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.hairdresser</td>
                    <td>@item.appointmentTime</td>
                    <td>@item.haircut</td>
                    <td>@item.user</td>
                    
                    <td>
                        <div role="group" class="btn-group w-100">
                           
                            <a class="btn btn-primary delete" asp-action="DeleteAppointment" asp-route-id="@item.id_appointment" onclick="return confirm('Are you sure you want to delete this appointment?')">Delete</a>
                        </div>
                    </td>
                </tr>
                        
            }
            </tbody>
        </table>
    }
    else
    {
        <p></p>
    }

</div>
