@model List<appointmentEntity>

@if (Model == null && Model.Count < 0)
{
    <div CLASS="containerAdminMid">NO APPOINTMENTS YET</div>
    <a asp-action="AddAppointments" asp-controller="Admin" class="add-button">Add</a>
}
else
{
    <div class="appointments-container">
        <a asp-action="AddAppointments" asp-controller="Admin" class="add-button">Add</a>
        <div class="day-selector">
            <label>Choose a hairdresser:</label>
            <select>
                @foreach (var hairdresser in Model)
                {
                    <option value="@hairdresser.id_hairdresser">@hairdresser.id_hairdresser</option>
                   
                }
            </select>
            <label for="day">Choose a day:</label>
            <select id="day" name="day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select>
        </div>
        <div class="appointments-grid">
           @foreach (var appointment in Model)
           {
               // <div class="appointment">@appointment.appointmentTime <p class="block">@appointment.id_user</p>  <p class="block">@appointment.id_appointment_type</p><button class="remove-buttonCenter">Remove</button></div>
           }
        </div>
    </div>
}
