

@model adminEntity
<form method="post" asp-action="Profile" enctype="multipart/form-data">
    <div class="profile-container">
        <div class="profile-picture">
            <!-- Placeholder for the profile picture -->
            <img src="@ViewBag.File" alt="Profile Picture">
            
            <input type="file" name="fileName"/>
      
            <!-- prestavi v post ko bos naredil edit   <input type="file" name="fileName"/> -->
        </div>
        <div class="user-details">
            <h1>@Model.name @Model.lastname</h1>
            
            <label class="data"> <input asp-for="name" value="@Model.name" /> </label>
           
            <br/>
            <label class="data"><input asp-for="lastname" value="@Model.lastname" /> </label>
            <br/>
            
            <label class="data"><input asp-for="email" value="@Model.email" /> </label>
            <br/>
            <label class="data">Date of profile creation: @Model.created</label>
                        <br/>
        </div>
        <div class="additional-info">
            <button type="submit" class="submitButton smallSpace" >Submit</button>
            <br/>
            <br/>
            <button class="submitButton smallSpace" asp-action="Index" >Back</button>
        </div>
    </div>
</form>
