@using System.Linq
<div class="containerIndex">
    <div class="statistics">
        <div class="daily">
            <h3>Zasedeni termini danes:</h3>
            <p>@(Model.stats.appointments_today)</p>
        </div>
        <div class="weekly">
            <h3>Zasedeni termini ta teden:</h3>
            <p>@(Model.stats.appointments_this_week)</p>
        </div>
        <div class="monthly">
            <h3>Zasedeni termini ta mesec:</h3>
            <p>@(Model.stats.appointments_this_month)</p>
        </div>
        <div class="schedule">
            <img src="Img/ProstiDan.webp" alt="Hairdresser">
            <a asp-action="DaysOff">Days Off</a>
        </div>
    </div>
    <div id="appointmentsNull" class="appointments">
        
        @if(Model.stats.appointments_today == 0)
		{
            <img class="image1200" src="~/Img/ProstiDan.webp" alt="Hairdresser">
        }
        else
        {   
            @foreach (appointmentEntity appointment in Model.my_appointments)
            {
                <form method="post" asp-action="CancelAppointment" asp-route-appointment_id="@appointment.id_appointment">
                    <div class="appointment-card">
                        <h4>@(
                        appointment.appointmentTime.ToString("D")
                        )</h4>
                        <h4>@(
                        appointment.appointmentTime.TimeOfDay + " - " + appointment.appointmentTime.AddMinutes(appointment.haircut.duration).TimeOfDay
                        )</h4>
                        <p>Custommer: @(
                    appointment.user.name + " " + appointment.user.lastname
                    )</p>
                        <p>Hairstyle: @(
                    appointment.haircut.style
                    )</p>
                        <button class="remove-button">
                            Remove Appointment
                        </button>
                    </div>
                </form>
            }
        }
        

        <script>
       let appointmentsNull = document.getElementById("appointmentsNull");
           let appointmentsNull = document.getElementById("appointmentsNull");
               if (!appointmentsNull || appointmentsNull.innerHTML.trim() === "") {
              
                   let img = document.createElement("img");
                   img.src = "~/Img/ProstiDan.webp";
                   document.body.appendChild(img);
               }
        </script>
    </div>
</div>