

<div class="rounded">



    <div class="middleTitle">
        <h2 class="noBackground specialHeadingH ">
            My haircuts
        </h2>
        <br/>
        @if (Model.myHaircuts == null || Model.myHaircuts.Count == 0)
        {
            <hr class="half"/>
            <h3 class="textCenter">no haircuts yet</h3>
            <hr class="half"/>
        }
        else
        {
            <div class="gridHaircuts">
                @foreach (var hairdresserHaircut in Model.myHaircuts)
                {
                    <div class="grid-item spaceIn round">
                        <img style="display:block;" class="fullWidth" height="280" alt="@hairdresserHaircut.haircut.image" src="@hairdresserHaircut.haircut.image"/>
                        <span style="display:block;">
                            @hairdresserHaircut.haircut.style
                        </span>
                        <br/>
                        <a asp-action="ToggleMyHaircut" asp-route-id_haircut="@hairdresserHaircut.haircut.id_haircut">
                            Remove this style
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <br/>

    <div class="middleTitle ">
        <h2 class="noBackground specialHeadingH">
            Other haircuts
        </h2>
        <br/>
        <div class="gridHaircuts">
            
            @foreach (haircutEntity haircut in Model.allHaircuts)
            {
                bool isHaircutInMyHaircuts = false;
                foreach (var mh in Model.myHaircuts)
                {
                    if (mh.haircut.id_haircut == haircut.id_haircut)
                    {
                        isHaircutInMyHaircuts = true;
                        break; 
                    }
                }

                if (isHaircutInMyHaircuts == false)
                {
                    
                    <div class="grid-item spaceIn round">
                        <img style="display:block;" class="fullWidth" height="280" alt="@haircut.image" src="@haircut.image"/>
                        <span style="display:block;">
                            @haircut.style
                        </span>
                        <br/>
                        <a asp-action="ToggleMyHaircut" asp-route-id_haircut="@haircut.id_haircut">
                            Toggle this style
                        </a>
                    </div>
                }
                else
                {
                    @*<div class="grid-item spaceIn round">
                        <img style="display:block;" class="fullWidth" height="280" alt="@haircut.image" src="@haircut.image"/>
                        <span style="display:block;">
                            @haircut.style
                        </span>
                        <br/>
                        <a asp-action="ToggleMyHaircut" asp-route-id_haircut="@haircut.id_haircut">
                            Owned - remove
                        </a>
                    </div>*@
                }
            }
        </div>
    </div>



   
</div>


