@model Dictionary<hairdresserEntity, List<TimeSpan>>

<a asp-action="Calendar" asp-route-id_haircut="@Context.Request.Query["id_haircut"]" class="linkButton ROUNDED rightAbsoluteTop pointer">BACK</a>
<div class="containerCalendar">
    <h1 class="specialHeading">Available Times with Hairdressers</h1>
    <label style="font-size:20px !important; color:  white;">Filter Hairdressers</label>
    <select>
        <option>EVERYONE</option>
        <option>MALE</option>
        <option>FEMALE</option>
    </select>
    <br/>
   
        <div class="twoGrid">
        
            @foreach (var kvp in Model)
            {
            
                <div class="book round shadowed">
                    <h2>@kvp.Key.name.ToUpper() @kvp.Key.lastname.ToUpper()</h2>

                    <form method="post" asp-action="MakeAppointment">
                    
                        <input type="hidden" name="id_hairdresser" value="@kvp.Key.id_hairdresser"/>
                        <input type="hidden" name="id_haircut" value="@Context.Request.Query["id_haircut"]" />
                        <input type="hidden" name="day" value="@Context.Request.Query["day"]"/>
                        <input type="hidden" name="month" value="@Context.Request.Query["month"]"/>
                        <input type="hidden" name="year" value="@Context.Request.Query["year"]"/>

                        <label for="time">Select a time:</label>
                        <select name="time" id="time">
                            @foreach (var timeSpan in kvp.Value)
                            {
                                <option value="@timeSpan">@timeSpan.ToString("hh\\:mm")</option>
                            }
                        </select>
                    
                        <button type="submit">Make Appointment</button>
                        <div style="margin-left:5px;" class="bordered">
                            <label for="rescheduleIn2Weeks">Reschedule in 14 days</label>
                        <input id="rescheduleIn2Weeks" name="rescheduleIn2Weeks" type="checkbox" value="true"  />
                        </div>
                        @{
                            string hairdresserPictureUrl = "/Storage/ProfilePics/" + kvp.Key.id_hairdresser + "_h.png";
                        }
                        <div class="middlePic">
                            <img class="profilePicture150" src="@hairdresserPictureUrl" alt="Hairdresser Picture" />
                        </div>
                    </form>
                </div>
            
            
            }
        </div>
    
    
</div>
