@model userEntity
<form method="post" asp-action="Profile" enctype="multipart/form-data">
    <h1 class="special-title">OUR FAVOURITE USERS PROFILE</h1>
    <div class="profile-container">

        <div class="profile-picture">
            <img src="@ViewBag.File" alt="Profile Picture" id="profileImage">
          
            <input type="file" name="fileName" accept=".png, .jpg, .jpeg" onchange="changeProfileImage(this)" />

            <!-- prestavi v post ko bos naredil edit   <input type="file" name="fileName"/> -->
        </div>
        <div class="user-details">
            <h1>@Model.name.ToUpper() @Model.lastname.ToUpper()</h1>

            <label class="data"> <input asp-for="name" value="@Model.name"/> </label>

            <br/>
            <label class="data"><input asp-for="lastname" value="@Model.lastname"/> </label>
            <br/>

            <label class="data"><input asp-for="email" value="@Model.email"/> </label>
            <br/>
            <label class="data">Date of profile creation: @Model.created</label>
            <br/>
        </div>
        <div class="additional-info">
            <button type="submit" class="submitButton smallSpace">Submit</button>
            <br/>
            <br/>
            <button class="submitButton smallSpace" asp-action="Index">Back</button>
        </div>
    </div>
</form>

<script>
    function changeProfileImage(input) {
        console.log("changeProfileImage");
        var reader = new FileReader();

        reader.onload = function (e) {
            // Update the src attribute of the image with the new data URL
            document.getElementById('profileImage').src = e.target.result;
        };

        // Read the selected file as a data URL
        reader.readAsDataURL(input.files[0]);
    }
</script>